.dazkoJoinUsSections {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dazkoJoinUsSections h4 {
    font-size: 1.2rem;
    color: #e1193e;
}

.dazkoJoinUsSections h1 {
    text-align: center;
    width: 400px;
    font-size: 3rem;

}

.dazkoJoinUsSections h1 span {
    color: #e1193e;
}

.joinUsFeatures {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.joinUsFeatures>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    -webkit-transform:
        skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
    border-right: 1px dotted;
}

.joinUsFeatures>div:last-child {
    border: none;
}


.joinUsFeatures>div h3 {
    width: 250px;
    text-align: center;
    font-size: 2rem;
}

.joinUsFeatures>div p {
    text-align: center;
    font-size: 1.5rem;
    width: 300px;
    color: gray;
}

.joinUsFeatures img {
    position: relative;
    object-fit: cover center;
    height: 80px;
    -webkit-transform:
        skewX(10deg);
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    transform: skewX(10deg);
}

@media only screen and (max-width: 415px) {
    .dazkoJoinUsSections h1 {
        font-size: 2.4rem;
    }

    .joinUsFeatures {
        flex-direction: column;
    }

    .joinUsFeatures>div {
        -webkit-transform:
            skewX(0deg);
        -moz-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        transform: skewX(0deg);
        border: none;
    }

    .joinUsFeatures img {
        -webkit-transform:
            skewX(0deg);
        -moz-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        transform: skewX(0deg);
    }
}