.workOutSection {
    height: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    overflow-x: hidden;
}

.workOutSection h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #e1193e;
}

.workOutSection h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;

}

.workOutSection h1 span {
    color: #e1193e;
}

.workOutSection>div:nth-child(3) {

    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 20px;
}

.workOutSection>div:nth-child(3)>div {
    height: 370px;
    width: 100%;

}

.workOutClasses {
    background-color: #00000039;
}

.workOutClasses img {
    height: 370px;
    width: 100%;
    /* right: 0;
    left: 0; */
    position: relative;
    z-index: -10;
    object-fit: cover;
    object-position: center;

}

.workOutClassesDescription {
    height: 60px;
    background-color: #000;
    color: #fff;
    position: relative;
    font-style: italic;
    top: -17.8%;
    padding: 20px;
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    width: 70%;
    text-align: center;


}



.workOutClassesDescription h2 span {
    height: 60px;
    width: 40px;
    background-color: #000;
    position: absolute;
    /* left: 90%; */
    right: -15px;
    top: 0%;
    -webkit-transform:
        skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    transform: skewX(20deg);
    display: flex;

}

.descripActive {

    background-color: #1425af;
    cursor: pointer;
}

.descripActive h2 span {
    background-color: #e1193e;
}

.workOutClassesPrice {
    /* display: none; */
    position: relative;
    bottom: 115%;
    left: 100%;
    /* right: 10%; */
    text-align: center;
    background-color: #1425af;
    color: #fff;
    height: 60px;
    width: 100px;
    font-size: 24px;
    font-weight: 900;
    /* padding: 5px 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
    /* transition-delay: .2s; */
    /* transform: translateX(100px); */
}

.workOutClassesPrice span {
    height: 60px;
    width: 25px;
    background-color: #e1193e;
    -webkit-transform:
        skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
    position: absolute;
    right: 89%;
    z-index: -1;
}

.priceActive {
    /* display: none; */
    padding: 10px;
    display: flex;
    transform: translateX(-100px);
    text-align: center;
    align-items: center;




}


.priceInActive {
    position: relative;
    z-index: -10;
    opacity: 0;
    width: 0px;

}

.workOutSection a {
    color: #e1193e;
    text-decoration: none;
    font-size: 1.5rem;
}

@media only screen and (max-width: 415px) {
    .workOutSection h1 {
        text-align: center;
        width: 100%;
        font-size: 2rem;
        font-weight: 800;
    }

    .workOutSection h4 {
        text-align: center;

        width: 100%;
    }

    .workOutSection>div:nth-child(3) {
        flex-direction: column;
    }

    .workOutSection>div:nth-child(3)>div {
        width: 100%;
    }

    .workOutClasses img {
        width: 100%;
    }

    .workOutClassesPrice {
        left: 290px;
    }

    .workOutSection a {
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 1.2rem;
    }

    .workOutClassesDescription {
        width: 70%;
        height: 40px;
        top: -13%;
        font-size: 13px;
        font-weight: 600;
        font-style: italic;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .workOutClassesDescription h2 {
        width: 100%;
        margin: 0px;
        padding: 0px;


    }

    .workOutClassesDescription h2 span {
        height: 40px;
    }

    .workOutClassesPrice {
        display: none;
    }
}